@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "masterview.cshtml";
}
  <script src="/javascripts/main.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/mystyle.css">
  
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")


<div class="container" style="Margin-top: 10px">
  <div class ="row">
  @foreach (Product x in Model.Product)
  {
    if(@x.OnSale == true)
    {
      <div class="col-sm-4" id="@x.Id">
        <div class="card">
          <a href="@x.Url" class="product-grid__item">
            <img src="@x.ProductImage" class="card-img-top" alt="...">
          </a>
          <div class="card-body">
            <div class="card-text" id="name@(x.Id)">@x.ProductName</div>
            <p class="card-text" id="price@(x.Id)">Price: @x.ProductPrice</p>
            <input type="button" value="Buy" onclick="testSave(@x.Id)">
          </div>
        </div>
        </div>
    }
  }
  </div>
</div>

<hr>
<br>

<div class="container" style="margin-top: 10px">
  <div class ="row">
  @foreach (Product x in Model.Product)
  {
      <div class="col-sm-2" style="margin-bottom:20px" id="@x.Id">
        <div class="card ">

          <a href="@x.Url" class="product-grid__item">
            <img src="@x.ProductImage" class="img-fluid" alt="...">
          </a>
          <div class="card-body" >
            <div class="card-text" id="name@(x.Id)">@x.ProductName</div>
            <p class="card-text" id="price@(x.Id)">Price: @x.ProductPrice</p>
            <input type="button" value="Add to cart" onclick="testSave(@x.Id)">
          </div>
        </div>
        </div>
  }
  </div>
</div>

<button onclick="showCart()">Show Cart</button>


<div id="cart"></div>

<div class="container">
  <div style="text-align: right; margin-top: 10px; margin-bottom: 10px;">
    <button class="btn btn-primary" type="button" href="#">Checkout</button> 
  </div>
</div>
